<div>
  <h1 class="header">Book Management System</h1>

  <div class="container">
    <div class="search-filter">
      <input [(ngModel)]="searchKeyword" placeholder="Search by title or author" class="search-input" />
      <button (click)="searchBooks()" class="search-button">Search</button>
    </div>

    <div class="price-filter">
      <div class="price-input-container">
        <label class="price-label">Min Price: </label>
        <input [(ngModel)]="minPrice" type="number" class="price-input" />
      </div>
      <div class="price-input-container">
        <label class="price-label">Max Price: </label>
        <input [(ngModel)]="maxPrice" type="number" class="price-input" />
      </div>
      <button (click)="filterBooks()" class="filter-button">Filter</button>
    </div>

    <div class="sort-button-container">
      <button (click)="loadBooksSorted()" class="sort-button">Sort by Title</button>
    </div>

    <form (ngSubmit)="addBook()" class="book-form">
      <input [(ngModel)]="newBook.title" name="title" placeholder="Title" required class="form-input" />
      <input [(ngModel)]="newBook.author" name="author" placeholder="Author" required class="form-input" />
      <input [(ngModel)]="newBook.isbn" name="isbn" placeholder="ISBN" required class="form-input" />
      <input [(ngModel)]="newBook.price" name="price" placeholder="Price" required type="number" class="form-input" />
      <button type="submit" class="add-button">Add Book</button>
    </form>

    <ul class="book-list">
      <li *ngFor="let book of books" class="book-item">
        <span>{{ book.title }} by {{ book.author }} - {{ book.isbn }} (${{ book.price }})</span>
        <button (click)="deleteBook(book.id!)" class="delete-button">Delete</button>
      </li>
    </ul>
  </div>
</div>
